@import url();

body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: aliceblue;
    background-color: black;
}

.quiz{
    margin: 0 auto;
    width: 600px;
}

.quiz-questions{
     margin-bottom: 20px;
}

.quiz-questions-item,
.quiz-rezults-item{
    &__question{
        font-size: 20px;
        margin-bottom: 20px;
         
    }
    &__answers{
        margin: 0;
        padding: 0;
        list-style: none;
    }
}

.quiz-indicator{
    margin-bottom: 20px;
}

.quiz-rezults{
    margin-bottom: 20px;
}

.btn-next{

}

.btn-restart{
    display: none;
}