@import url();

body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: aliceblue;
    background-color: black;
}

.quiz{
    
    margin: 0 auto;
    margin-top: 50px;
    width: 600px;
}

.quiz-questions{
     margin-bottom: 20px;
}

.quiz-questions-item,
.quiz-rezults-item{
    &__question{
        font-size: 30px;
        margin-bottom: 20px;
         
    }
    &__answers{
        margin: 0;
        margin-bottom: 30px;
        padding: 0;
        list-style: none;
    }
}

.quiz-indicator{
    margin-bottom: 20px;
}

.quiz-rezults{
    display: none;
    margin-bottom: 20px;
}

.btn-next{

}

.btn-restart{
    display: none;
}

.questions--hidden,
.indicator--hidden,
.btn-next--hidden{
display: none;
}

.btn-restart--visible,
.result--visible{
    display: block;
}

.answer--invalid{
    color: red;
}

.answer--valid{
    color: green;
}